@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #757575;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: #ebf7fd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e21;
  color: #f6f6f6;
}

a {
  &:link,
  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}
